MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=nestjs
MYSQL_USERNAME=root
MYSQL_PASSWORD=password

MICRO_USER_GRPC_URL=localhost:50052
MICRO_USER_GRPC_NODE=node_modules/nestjs-grpc-proto/proto/users.proto